.px-4 {
  padding: 16px 0;
}

.pe-12 {
  padding-right: 48px;
}

.ps-12 {
  padding-left: 48px;
}

.ps-17 {
  padding-left: 64px;
}

.ms-8 {
  margin-left: 32px;
}

.me-5 {
  margin-right: 20px;
}

.me-16 {
  margin-right: 64px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mb-20 {
  margin-bottom: 80px;
}

.mx-8 {
  margin-top: 32px;
  margin-bottom: 32px;
}