.px-4 {
  padding: 16px 0;
}

.pe-12 {
  padding-right: 48px;
}

.ps-12 {
  padding-left: 48px;
}

.ps-17 {
  padding-left: 64px;
}

.ms-8 {
  margin-left: 32px;
}

.me-16 {
  margin-right: 64px;
}

.me-22 {
  margin-right: 22px;
}