<footer class="footer">
  <div class="container d-flex justify-between item-center">
    <ol class="menu d-flex justify-between">
      <li class="menu-item pe-12">
        <a href="#">首頁</a>
      </li>
      <li class="menu-item pe-12">
        <a href="#">系列鏡框</a>
      </li>
      <li class="menu-item pe-12">
        <a href="#">門市據點</a>
      </li>
      <li class="menu-item pe-12">
        <a href="#">部落格</a>
      </li>
      <li class="menu-item pe-12">
        <a href="#">常見問題</a>
      </li>
    </ol>
    <ol class="sms-icons d-flex justify-between">
      <li class="sms-item ms-8">
        <a href="#">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt="FB">
        </a>
      </li>
      <li class="sms-item ms-8">
        <a href="#">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt="IG">
        </a>
      </li>
      <li class="sms-item ms-8">
        <a href="#">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt="Line">
        </a>
      </li>
    </ol>
  </div>

  <div class="contact container">
    <p class="d-flex item-center">
      <span class="material-icons-outlined fz-36 me-22">
        call
        </span>
      0800-000-000
    </p>
    <p class="d-flex item-center">
      <span class="material-icons-outlined fz-36 me-22">
        email
        </span>
        glasses@business.com
    </p>
  </div>

  <div class="copyright container d-flex justify-between">
    <p>Copyright © 2020 Glasses.All rights reserved.</p>
    <ol class="d-flex">
      <li><a href="#" class="ps-12">隱私權政策</a></li>
      <li><a href="#" class="ps-12">服務條款</a></li>
    </ol>
  </div>
</footer>