<header class="header px-4">
  <div class="container d-flex justify-between item-center flex-wrap">
    <a href="../pages/index.html" class="logo">
      <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true" alt="logo">
    </a>
    
    <ol class="nav d-flex justify-between flex-wrap">
      <li class="nav-item ps-17"><a href="#">系列鏡框</a></li>
      <li class="nav-item ps-17"><a href="#">門市據點</a></li>
      <li class="nav-item ps-17"><a href="#">部落格</a></li>
      <li class="nav-item ps-17"><a href="#">常見問題</a></li>
    </ol>
  </div>
</header>
