.banner__img {
  width: 50%;
  height: 296px;
  background-size: cover;
  margin-bottom: 80px;
}

.banner__img1 {
  background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-1.png?raw=true');
}

.banner__img2 {
  background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-2.png?raw=true');
}

.main__tittle {
  text-align: center;
  margin-bottom: 32px;
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 32px;
  }
}

.card {
  max-width: 24%;
  margin-bottom: 80px;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.color1 {
  background-color: #5F3E2D;
}

.color2 {
  background-color: #B75929;
}

@media (max-width: $tablet) {
  .main__tittle {
    text-align: center;
    margin-bottom: 32px;
    h1 {
      font-size: 42px;
    }
  
    h2 {
      font-size: 32px;
    }
  }
  .banner__img1 {
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-1.png?raw=true');
  }

  .banner__img2 {
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-2.png?raw=true');
  }
  
  .card {
    max-width: 48%;
    margin-bottom: 40px;
  }
}

@media (max-width: $mobile) {
  .banner__img {
    height: 136px;
    margin-bottom: 40px;
  }
  
  .main__tittle {
    margin-bottom: 24px;
    h1 {
      font-size: 24px;
    }
  
    h2 {
      font-size: 24px;
    }
  }

  .card {
    max-width: 100%;
    margin-bottom: 24px;
  }
}