<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./layout/head.ejs'); -%>
    <title>眼睛官網 Week 3 - 4 主線任務</title>
  </head>
  <body>
    <%- include('./layout/header.ejs'); -%>
    
      <ol class="product-menu d-flex">
        <li class="product-menu__item product-menu__item--active"><a href="#">OPTICAL</a></li>
        <li class="product-menu__item"><a href="#">SUNGLASSES</a></li>
        <li class="product-menu__item"><a href="#">FUNCTIONAL</a></li>
      </ol>

    <div class="banner d-flex">
      <div class="banner__img banner__img1"></div>
      <div class="banner__img banner__img2"></div>
    </div>

    <div class="container">
      <div class="main__tittle">
        <h1>Celluloid Combi</h1>
        <h2>賽璐珞鈦金屬混合鏡框</h2>
      </div>
      <div class="main">
        <div class="card">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="眼鏡">
          <div class="card__content">
            <h3>BJ41600S</h3>
            <p class="price">NTD3,490</p>
          </div>
          <div class="card__color-choose">
            <div class="color color1"></div>
            <div class="color color2"></div>
          </div>
        </div>
  
        <div class="card">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true" alt="眼鏡">
          <div class="card__content">
            <h3>BJ41600S</h3>
            <p class="price">NTD3,490</p>
          </div>
          <div class="card__color-choose">
            <div class="color color1"></div>
            <div class="color color2"></div>
          </div>
        </div>
        <div class="card">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true" alt="眼鏡">
          <div class="card__content">
            <h3>BJ41600S</h3>
            <p class="price">NTD3,490</p>
          </div>
          <div class="card__color-choose">
            <div class="color color1"></div>
            <div class="color color2"></div>
          </div>
        </div>
        <div class="card">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true" alt="眼鏡">
          <div class="card__content">
            <h3>BJ41600S</h3>
            <p class="price">NTD3,490</p>
          </div>
          <div class="card__color-choose">
            <div class="color color1"></div>
            <div class="color color2"></div>
          </div>
        </div>
        <div class="card">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true" alt="眼鏡">
          <div class="card__content">
            <h3>BJ41600S</h3>
            <p class="price">NTD3,490</p>
          </div>
          <div class="card__color-choose">
            <div class="color color1"></div>
            <div class="color color2"></div>
          </div>
        </div>
        <div class="card">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true" alt="眼鏡">
          <div class="card__content">
            <h3>BJ41600S</h3>
            <p class="price">NTD3,490</p>
          </div>
          <div class="card__color-choose">
            <div class="color color1"></div>
            <div class="color color2"></div>
          </div>
        </div>
        <div class="card">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="眼鏡">
          <div class="card__content">
            <h3>BJ41600S</h3>
            <p class="price">NTD3,490</p>
          </div>
          <div class="card__color-choose">
            <div class="color color1"></div>
            <div class="color color2"></div>
          </div>
        </div>
        <div class="card">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true" alt="眼鏡">
          <div class="card__content">
            <h3>BJ41600S</h3>
            <p class="price">NTD3,490</p>
          </div>
          <div class="card__color-choose">
            <div class="color color1"></div>
            <div class="color color2"></div>
          </div>
        </div>
        <div class="card">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true" alt="眼鏡">
          <div class="card__content">
            <h3>BJ41600S</h3>
            <p class="price">NTD3,490</p>
          </div>
          <div class="card__color-choose">
            <div class="color color1"></div>
            <div class="color color2"></div>
          </div>
        </div>
        <div class="card">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true" alt="眼鏡">
          <div class="card__content">
            <h3>BJ41600S</h3>
            <p class="price">NTD3,490</p>
          </div>
          <div class="card__color-choose">
            <div class="color color1"></div>
            <div class="color color2"></div>
          </div>
        </div>
        <div class="card">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true" alt="眼鏡">
          <div class="card__content">
            <h3>BJ41600S</h3>
            <p class="price">NTD3,490</p>
          </div>
          <div class="card__color-choose">
            <div class="color color1"></div>
            <div class="color color2"></div>
          </div>
        </div>
        <div class="card">
          <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true" alt="眼鏡">
          <div class="card__content">
            <h3>BJ41600S</h3>
            <p class="price">NTD3,490</p>
          </div>
          <div class="card__color-choose">
            <div class="color color1"></div>
            <div class="color color2"></div>
          </div>
        </div>
      </div>
      <ul class="pagination">
        <li class="page-item"><a href="#" class="page-link">上一頁</a></li>
        <li class="page-item"><a href="#" class="page-link">1</a></li>
        <li class="page-item page-item--active"><a href="#" class="page-link">2</a></li>
        <li class="page-item"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">4</a></li>
        <li class="page-item"><a href="#" class="page-link">5</a></li>
        <li class="page-item"><a href="#" class="page-link">下一頁</a></li>
      </ul>
    </div>
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>